* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    
}
.top-header {
    background-color: rgba(217, 217, 217, 1);
    height: 36px;
    margin-top: 31px;
    
}
.logo {
    width: 111px;
    height: 111px;
    position: absolute;
    top: 8px;
    left: 37px;
    
}
.nav-list {
    display: flex;
    gap: 1.2rem;
    justify-content: end;
    padding-top: 6px;
    padding-right: 220px;
    font-size: larger;
}
.search {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 27px;
    right: 75px;
    cursor: pointer;
}
.form {
    margin-top: 45px;
    display: flex;
    justify-content: end;
    gap: 0.875rem;
    padding-right: 150px;
}
.form input {
    width: 100px;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    box-shadow: inset 0 0 3px #727272;
}
.drop {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 3px #969696;
}
.grid-container {
    display: grid;
    grid-template-columns: 250px 600px 600px;
    grid-auto-rows: minmax(340px, auto);
    grid-gap: 10px;
    margin-top: 25px;
}
.grid-item-1 {
    grid-row: 1 / 3;
    font-size: 1.4rem;
    display: grid;
    justify-items: center;
}

.grid-item-1 nav ul li a {
    font-family: 'Mate', serif;

}
.side-nav li {
    margin: 12px 0;
}
h1 {
    font-weight: lighter;
    font-size: 2.5rem;
    font-family: 'Mate', serif;
    padding-top: 40px;
    padding-bottom: 20px;
}
p {
    font-size: .9rem;
}
img {
    width: 500px;
    position: absolute;
}
.btn {
    position: absolute;
    background-color: rgba(116, 44, 44, 1);
    color: whitesmoke;
    font-size: 2.875rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.front-btn-1 {
    position: relative;
    padding: 10px 120px 10px 120px;
    left: 40px;
    top: 170px;
}
.front-btn-2 {
    position: relative;
    padding: 10px 50px 10px 50px;
    left: 15px;
    top: 200px;

}
.front-btn-3 {
    position: relative;
    padding: 10px 70px 10px 70px;
    left: 40px;
    top: 200px;

}
.grid-container.about {
    display: grid;
    grid-template-columns: 250px 550px 600px;
    grid-auto-rows: minmax(340px, auto);
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
.h-about {
    font-family: 'Imbue', serif;
    font-size: 3rem;
}
.p-about {
    font-size: 1.25rem;
}

.grid-container.sign {
    display: grid;
    grid-template-columns: 250px 550px 500px;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.signup label {
    display: flex;
    margin-top: 20px;
}
.signup-h1 {
    position: absolute;
    right: 270px;
    width: 750px;
    color: rgba(116, 44, 44, 1);

}
span {
    color:rgba(237, 144, 127, 1);
}
.h-sign {
    font-family: 'Inter', 'sans-serif';
    color: rgba(152, 79, 31, 1);
    font-weight: 700;
    font-size: 3rem;
}
.signup label {
    font-size: 1.175rem;
}
.signup input {
    width: 440px;
    height: 30px;
    background: rgba(217, 217, 217, 1);
    border: none;
    box-shadow: inset 0 0 3px #969696;
}
.register.btn-acc {
    background: rgba(6, 124, 68, 1);
    color: white;
    margin-top: 20px;
    width: 220px;
    font-size: 1.175rem;
    border-radius: 10px;
    position: relative;
    left: 90px;
    cursor: pointer;
}
.p-sign {
    position: relative;
    left: 110px;
    margin-top: 10px;
}
.p-sign a {
    text-decoration: underline;
    color: blue;
}
.sign-img-bg {
    width: 300px;
    position: relative;
    left: 180px;
    top: 180px;
}
.sign-img-vec {
    width: 150px;
    position: relative;
    right: 45px;
    top: 75px;
}
.profile-txt {
    position: relative;
    left: 265px;
    top: 90px;
    color: white;
    font-size: 1.175rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.grid-container.myFile {
    display: grid;
    grid-template-columns: 250px 600px 600px;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
    margin-top: 25px;
}
.h-file {
    color: black;
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
    font-size: 1.75rem;
    position: relative;
    bottom: 65px;
    left: 50px;
}
.s-file {
    color: black;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: 80px;
}
.img-file {
    width: 240px;
    position: relative;
    bottom: 80px;
    left: 40px;
}
.p-file {
    position: relative;
    bottom: 300px;
    left: 350px;
    font-size: 1.375rem;
}
.grid-item-2 a {
    text-decoration: underline;
    color: blue;
    font-size: 0.8rem;
}
.img-link {
    position: relative;
    bottom: 230px;
    left: 120px;
}
.p-link {
    position: relative;
    bottom: 280px;
    left: 340px;
}
.edit {
    width: 20px;
    position: absolute;
    top: 230px;
    left: 880px;
    cursor: pointer;
}
.grid-item-4 h2 {
    position: relative;
    bottom: 200px;
}
.bookset {
    width: 650px;
    position: relative;
    bottom: 180px;
}
.grid-item-3 h2 {
    position: relative;
    left: 120px;
    top: 30px;
    font-size: 1.75rem;
}
.pro-3 {
    width: 170px;
}
.img3-1 {
    position: relative;
    left: 120px;
    top: 50px;
}
.img3-2 {
    position: relative;
    left: 150px;
    top: 50px;
}
.btn3-1 {
    position: relative;
    top: 80px;
    right: 195px;
}
.btn3-2 {
    position: relative;
    top: 80px;
    right: 95px;
}
.pro-5 {
    width: 170px;
}
.img5-1 {
    position: relative;
    left: 120px;
    bottom: 170px;
}
.img5-2 {
    position: relative;
    left: 150px;
    bottom: 170px;
}
.btn5-1 {
    position: relative;
    right: 195px;
    bottom: 140px;
}
.btn5-2 {
    position: relative;
    right: 95px;
    bottom: 140px;
}
.file-btn {
    background: rgba(36, 109, 43, 1);
    color: white;
    font-size: 0.8rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(183, 183, 183);
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}